
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
img,
picture,
svg,
video {
 display: block;
  max-width: 100%;
}
body , html {
  min-height: 100vh;
  line-height: 1.5;
}
ul,li {
   margin: 0;
    padding: 0;
    list-style: none;
}
a {
   text-decoration: none;
}
button {
   outline: none;
     border: none;
     
}
.container {
     margin: 0 auto;
      max-width: 1200px;
     padding: 0 5px;
}

